<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Agregar 📝</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      <ion-label position="floating"> Titulo </ion-label>
      <ion-input type="text" required [(ngModel)]="post.title" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Detalles </ion-label>
      <ion-input type="text" required [(ngModel)]="post.details" ></ion-input>
    </ion-item>

    <ion-button
      color="primary"
      class="ion-padding"
      expand="block"
      (click)="createPost(post)"
    > Crear </ion-button>
</ion-content>
